.profile_photo_img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;

}

.img {
  overflow: hidden;
margin-top: -36px;
margin-left: 31px;
}

.links {
    margin-top: 13px;
  }

.reply_comment {
  margin-left: -13px;
  margin-bottom: 10px;
}

.user_name {
  font-weight: bold;
  color: #333;
  font-weight: bold;
  unicode-bidi: bidi-override;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  bottom: 18px;
  left: 6px;
}

.main {
  width: 38%;
  padding-bottom: 18px;
  padding-top: 18px;
  border: 0px solid lightgrey;
  background: #f6f6f6;
  padding-left: 15px;
}

.comment_timestamp {
  color: #999;
  unicode-bidi: bidi-override;
  font-size: 13px;
  line-height: 1.5;
  position: relative;
  left: 41px;
  bottom: 23px;
      background: transparent;
}

.comment_list {
  list-style-type:none
}

.comment {
  margin-left: 40px;
  margin-top: -15px;
}

.edit {
  display: inline-flex;
}

.menus_list {
  display: inline;
  float: right;
    margin-top: -8px;
    margin-right: 31px;
}

.comment_list {
  padding: 0;
}

.menus_list_item {
  list-style-type:none
  height: 26px;
  font-size: 15px;
  cursor: pointer;
  list-style-type:none;
      height: 28px;
      padding-left: 5px;
}

.menu_item {
  margin-left: 10px;
}

.menu li:hover {
      background-color: powderblue;
        width: 132px;
}

.menu_unordered_list {
  width: 100%;
    margin-left: -40px;
}

.menus {
  background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #999;
    float: right;
        margin-right: -8px;
}

.menu {
  margin-left: 33px;
  width: 136px;
      margin-top: -43px;
    color: #999;
  border: 1px solid lightgrey;
}

.menus:after {
  content: '\2026';
    font-size: 25px;

}

.comment_reply_links {
  margin-bottom: 18px;
      margin-top: 12px;
}

.comment_reply_links a {
  text-decoration: none;
  color: #999;
  font-family: serif;
  font-size: 15px;
  cursor: pointer;
}


.reply {
  display: inline;
  margin-left: -11px;
  margin-top: -13px;
      position: absolute;
}

.comment_button {
  border: 1px solid #234462;
  background: #3e78ad;
  color: #fff;
  text-align: center;
  font-size: 13px;
  display: inline-block;
  font-weight: 500;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  height: 27px;
  width: 79px;
  border-radius: 3px;
}

.comment_box {
  position: relative;
    font-size: 13px;
    line-height: 1.5;
    word-break: break-word;
    white-space: pre-wrap;
    tab-size: 4;
    word-wrap: break-word;
    color: #333;
    width: 300px;
    height: 23px;
    margin-right: 8px;
    border: 1px solid lightgrey;
    margin-left: 11px;
        margin-top: 3px;}

#div1, #div2
{
    display:inline;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  background-color: transparent;
  color: #999;
  font-size: 13px;
    opacity: 1; /* Firefox */
    padding-left: 5px;
}

.modal_title {
  font-size: 19px;
    font-weight: bold;
    color: #333;
    border-radius: 4px 4px 0 0;
}

.modal_header {
  margin-left: -19px;
  padding-left: 18px;
  height: 26px;
  width: 450px;
  text-align: -webkit-left;
  border-bottom: 1px solid #F5F5F5;
  width: 500px;
  margin-right: -19px;
  padding-bottom: 11px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}



.modal_title {
  font-size: 19px;
  font-weight: bold;
  color: #333;
  border-radius: 4px 4px 0 0;
}

.modal_content {
  height: 17px;
  margin-left: -19px;
  padding-left: 17px;
  text-align: -webkit-left;
  border-bottom: 1px solid #F5F5F5;
      margin-right: -18px;
      font-size: 15px;
      padding-bottom: 19px;
        padding-top: 17px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.modal_footer {
  height: 21px;
  margin-left: -19px;
  padding-left: 17px;
  padding-top: 17px;
  text-align: -webkit-right;
  background: #f6f6f6;
margin-right: -19px;
margin-bottom: -15px;
height: 29px;
}

.modal_cancel_link {
  color: #999;
  font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 11px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.submit_button {
    cursor: pointer;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      border: 1px solid #234462;
      background: #3e78ad;
      color: #fff;
      text-align: center;
      font-size: 14px;
      display: inline-block;
      font-weight: 500;
      outline-color: initial;
      outline-style: initial;
      outline-width: 0px;
      height: 27px;
      width: 79px;
      border-radius: 3px;
      margin-right: 18px;
margin-top: -6px;

}
